:root {
    /*color scheme,
    lightest color to darkest*/

    /*main*/
    --white:#fff;
    --black:#242531;
    --black-light:#3A3C53;
    --gray:#646A7C;


    --blue:#58AEFF;
    --orange:#FF8158;
    --yellow:#FFB658;
    --purple:#B058FF;
}

/*default / resets*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

img {
    display:block;
    max-width:100%;
}

li {
    list-style: none;
}

a {
    color:inherit;
    text-decoration: none;
}


body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: var(--black);
}



.container {
    background-color:inherit;
    width:100vw;
    height:100vh;
}

.project-container {
    position: relative;
    background-color:var(--white);
    max-width:65rem;
    height:50rem;

    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    border-radius: 10px;
}


.project__navbar {
    /* background:rgba(255, 0, 0, 0.404); */
    display:flex;
    justify-content: space-between;
    padding:2rem 1rem;
}

.project__navbar__items {
    /* background:rgba(126, 252, 0, 0.74); */
    display:flex;
}

.project__navbar__item {
    margin:0 0.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.project__navbar__item__link {
    color:gray;
    margin-right:0.5rem;
}

/*apply this class ro the current tab
(.project__navbar__item__link) that the page is on*/
.current-tab {
    color:#000;
    font-weight:600;
}

/*dot and dot color variation*/
.dot {
    background-color:#000;
    width:5px;
    height:5px;
    border-radius: 50%;
}

.dot-orange {
    background-color:orange;
    background-color:var(--orange);
}