:root {
    /*color scheme,
    lightest color to darkest*/

    /*main*/
    --white:#fff;
    --black:#242531;
    --black-light:#3A3C53;
    --gray:#787880;



    --yellow:#FFB658;
    --orange:#FF8158;
    --blue:#58AEFF;
    --blue-dark:#467DB6;
    --purple:#B058FF;
    --green-lime:#9AD045;
    --pink:#F85698;
    --pink-dark:#DF1E54;


}

/*default / resets*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

img {
    display:block;
    max-width:100%;
}

li {
    list-style: none;
}

a {
    color:inherit;
    text-decoration: none;
}


body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: var(--black);
}



.container {
    background-color:inherit;
    width:100vw;
    height:100vh;
}

.project-container {
    position: relative;
    background-color:var(--white);
    max-width:65rem;
    height:50rem;

    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    border-radius: 10px;

    display:grid;
    grid-template-rows:auto 2fr;
    padding:1.5rem;
}


.project__navbar {
    /* background:rgba(255, 0, 0, 0.404); */
    display:flex;
    justify-content: space-between;
    padding-bottom:1.5rem;
    font-size:0.85rem;
}

.project__navbar__items {
    /* background:rgba(126, 252, 0, 0.74); */
    display:flex;
}

.project__navbar__item {
    margin:0 0.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.project__navbar__item__link {
    color:gray;
    margin-right:0.5rem;
}

/*apply this class ro the current tab
(.project__navbar__item__link) that the page is on*/
.current-tab {
    color:#000;
    font-weight:600;
}


.upgrade-btn {
    background-color:transparent;
    border:1px solid #000;
    border-radius: 20px;
    padding:0.5rem 1.25rem;
    font-weight:400;
    font-size: 1rem;
    letter-spacing: 0.25px;
}


.profile-link {
    background:var(--pink);
    color:#fff;
    font-weight:600;
    font-size:1rem;
    padding:0.5rem;
    border-radius: 50%;
}


/*dot and dot color variation*/
.dot {
    background-color:#000;
    width:5px;
    height:5px;
    border-radius: 50%;
}

.dot-yellow {
    background-color:#FFB658;
    background-color:var(--yellow);
}

.dot-orange {
    background-color:orange;
    background-color:var(--orange);
}

.dot-blue {
    background-color:#58AEFF;
    background-color:var(--blue);
}

.dot-blue-dark {
    background-color:#467DB6;
    background-color:var(--blue-dark);
}

.dot-purple {
    background-color:purple;
    background-color:var(--purple);
}

.dot-green-lime {
    background-color:greenyellow;
    background-color:var(--green-lime);
}

.dot-pink {
    background-color:#F85698;
    background-color:var(--pink);
}

.dot-pink-dark {
    background-color:#DF1E54;
    background-color:var(--pink);
}





.project-selection {
    /* background:red;*/
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:1fr;
}



/*sidebar*/
.projects__sidebar {
    background-color:var(--black);
    color:#fff;
    border-radius: 20px;
    padding:1.5rem;
    
}


.projects__sidebar__heading {
    color:#787880;
    font-size: 1rem;
    margin-bottom:1rem;
}

.sidebar__project {
    display: grid;
    grid-template-columns: 0.6rem 1fr;
    align-items: center;
    margin:1rem 0;
    /* background:rgba(15, 115, 245, 0.185); */
}


.sidebar__project .view-all-btn {
    grid-column-start:2;
    grid-column-end:2;
    justify-self:start;
}

.view-all-btn {
    position: relative;
    border:none;
    background:none;
    display:flex;
    justify-content: center;
    align-items:center;
    
}

.view-all-link,
.view-all-link-icon {
    color:blue;
    color:var(--blue-dark);
}

.view-all-link-icon {
    margin-left:0.65rem;
    font-size:1rem;
    position: relative;
    top:-1px;
}






/*projects*/
.projects {
    background:#fff;
    padding:1.5rem;
}

.projects__main__items {
    background:rgba(0, 255, 0, 0.288);

    display:grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    align-items: center;
}

.projects__main__item {
    background:rgba(255, 0, 0, 0.274);
    display:flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    text-align:center;
    
    /* display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align:center;
    flex:1;
    margin:0 1rem; */
    /* margin:0 1rem; */


    
}

/* .projects__main__item:first-of-type {
    margin-left:0;
} */

.projects__main__item__btn {
    border:none;
    color:#fff;
    background-color:var(--blue);
    font-size:3rem;
    width:6rem;
    height: 6rem;
    border-radius: 15px;
}
